* {
    box-sizing: border-box;
}

body {
    /* background-color: rgb(108, 201, 201); */
    background-image: url(5.jpg);
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-align : center;
}
div.card {
    width: 100%;
}

div {
    text-align: center;
    padding : 10px;
    margin: auto;
}

h1, h2, h3 {
    font-weight: bold;
    align: center;
}

label {
    margin: 1px;
    text-align: right;
    width: 200px;
    /* text-align: center; */
}
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}
hr {
    border: 2px;
    width: 50%;
    border-style: solid;
    margin: auto;
}
.btn.btn-secondary{
    margin-left: 200px;
}